{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "jsx": true, // Allows for the parsing of JSX
    "modules": true
  },
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error",
    "no-restricted-imports": [
      "warn",
      {
        "paths": [
          {
            "name": "next/router",
            "message": "Please use 'useCustomRouter' from /hooks instead."
          },
          {
            "name": "next/link",
            "message": "Please use 'CustomNextLink' from /components/shared instead."
          }
        ]
      }
    ]
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "rules": {
        "prettier/prettier": "error",
        "react/prop-types": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}